.shadowoftext {
  text-shadow: 4px 2px 5px #7c8aa3;
}
.Div_set_head {
  font-size: 5rem;
  text-align: center;
  /* height: 90vh; */
  /* line-height: 90vh; */
  color: #fcedd8;
  /* background: #d52e3f; */
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 3px 4px 0px #eb452b, 5px 6px 0px #efa032, 7px 9px 0px #46b59b,
    11px 14px 0px #017e7f, 14px 18px 0px #052939, 20px 18px 0px #c11a2b,
    11px 14px 0px #c11a2b, 12px 20px 0px #c11a2b, 15px 19px 0px #c11a2b;
}
.form_bg_image {
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?cs=srgb&dl=pexels-pixabay-302769.jpg&fm=jpg");
}
.Over_lape_bg_color {
  background-color: #d5d5d57a;
  height: 100vh;
}
